{% extends 'base.html.twig' %}

{% block title %}New Igreja{% endblock %}

{% block body %}
    <h1>Create new Igreja</h1>

    {{ include('igreja/_form.html.twig') }}

    <a href="{{ path('app_igreja_index') }}">back to list</a>
{% endblock %}
